.lishki {
    width: 500px;
	padding: 15px;
	padding-left: 20px;
	padding-right: 30px;
	height: 55px;
	display: flex;
	justify-content: space-between;
	margin: 1.5rem auto;
	background-color: rgb(118, 130, 185);
}

.p {
    width: 260px;
    font-size: 20px;
    font-weight: 600;
    text-align: start;
    height: 20px;
}

